In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt
import phik
from IPython.display import Markdown as md

In [2]:
df = pd.read_pickle("shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

Q1. Which borough has had the highest total number of crashes reported since 2012? (Ignore missing values)

In [3]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'], format='%Y-%m-%d %H:%M:%S')
start_date = pd.to_datetime('2012-01-01 00:00:00', format='%Y-%m-%d %H:%M:%S')
end_date = pd.to_datetime('2023-08-15 00:00:00', format='%Y-%m-%d %H:%M:%S')
mask = (df['CRASH DATE_CRASH TIME'] >= start_date) & (df['CRASH DATE_CRASH TIME'] <= end_date)

most_common_value = df['BOROUGH'].mode().values[0]
count = df['BOROUGH'].value_counts()[most_common_value]
print(f"The most common borough is '{most_common_value}' with {count} occurrences.")

The most common borough is 'BROOKLYN' with 441026 occurrences.

Q2. We relate the number of crashes to to the borough's population to find out which borough has the maximum number of crashes for every 100,000 people. Even though the data does not have this information, we can combine the crash data with the population estimates for the boroughs also available from the City of New York's website (https://data.cityofnewyork.us/City-Government/New-York-City-Population-by-Borough-1950-2040/xywu-7bv9)

Use the below population estimates for the question that follows:

Borough - Population 
Bronx - 1446788 
Brooklyn - 2648452 
Manhattan - 1638281 
Queens - 2330295 
Staten Island - 487155 

Considering the entire data set since July 2012, which borough has the most crashes for every 100,000 people? (hint: divide the total count of crashes by the population, and multiply by 100,000)

In [12]:
value_counts = df['BOROUGH'].value_counts()
print(value_counts)

adjusted_BROOKLYN = 441026 / 2648452
adjusted_QUEENS = 372457 / 2330295
adjusted_MANHATTAN = 313266 / 1638281
adjusted_BRONX = 205345 / 1446788
adjusted_SI = 58297 / 487155

print(adjusted_BROOKLYN)
print(adjusted_QUEENS)
print(adjusted_MANHATTAN)    
print(adjusted_BRONX)    
print(adjusted_SI)

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64
0.166522179748774
0.15983255338916316
0.19121628096767282
0.14193164444272416
0.11966827806345003

Q3. For a large proportion of the crashes, the 'contributing factor vehicle 1' is a missing value, indicated as 'Unspecified' in the data.

Remove all rows where the contributing factor vehicle 1 is not known, leaving only the crashes where only this information is available.

For this dataset, what is the leading cause of crashes (ignoring 'Unspecified') (use the field 'CONTRIBUTING FACTOR VEHICLE 1')?

What proportion of accidents are attributable to this cause?

In [13]:
value_counts = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()
print(value_counts)

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       692736
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Backing Unsafely                   75042
                                   ...
Cell Phone (hand-held)                79
Windshield Inadequate                 77
Texting                               50
Listening/Using Headphones            24
1                                     10
Name: count, Length: 61, dtype: int64

In [14]:
DriverPerCent = 401262 / 1325508
print(DriverPerCent)

0.3027231823572547

Q4. Continuing from the previous question - the top 3 causes of crashes (ignoring 'Unspecified') account for what proportion of total crashes?

In [17]:
Top3 =(401262 + 119166 + 107476) / 1325508
print(Top3)

0.4737081933869882

Q.5 Considering the entire data since 2012 (and, if applicable, ignoring missing values), what is the total count of accidents that involved at least one fatality?

In [18]:
Fatalities = (df['NUMBER OF PERSONS KILLED'] > 0).sum()
print(Fatalities)

2804

Q6. On average, for every 1000 accidents, how many have resulted in at least one person dead? (hint: divide the count of accidents with 1 or more deaths with the total number of accidents, and multiply by 1000)

In [20]:
oneDeadPer1000 = Fatalities / 2018244  * 1000
print(oneDeadPer1000)

1.3893265630914795

Q.7 What proportion of accidents in the data do not have a Borough code?

In [21]:
nan_counts = df.isna().sum()

# Print the columns with NaN values and their respective counts
for column, count in nan_counts.items():
    if count > 0:
        print(f"Column '{column}' has {count} NaN values.")

Column 'BOROUGH' has 627854 NaN values.
Column 'ZIP CODE' has 628092 NaN values.
Column 'LATITUDE' has 229685 NaN values.
Column 'LONGITUDE' has 229685 NaN values.
Column 'LOCATION' has 229685 NaN values.
Column 'ON STREET NAME' has 424807 NaN values.
Column 'CROSS STREET NAME' has 755532 NaN values.
Column 'OFF STREET NAME' has 1685810 NaN values.
Column 'NUMBER OF PERSONS INJURED' has 18 NaN values.
Column 'NUMBER OF PERSONS KILLED' has 31 NaN values.
Column 'CONTRIBUTING FACTOR VEHICLE 1' has 6348 NaN values.
Column 'CONTRIBUTING FACTOR VEHICLE 2' has 307909 NaN values.
Column 'CONTRIBUTING FACTOR VEHICLE 3' has 1875114 NaN values.
Column 'CONTRIBUTING FACTOR VEHICLE 4' has 1986122 NaN values.
Column 'CONTRIBUTING FACTOR VEHICLE 5' has 2009575 NaN values.
Column 'VEHICLE TYPE CODE 1' has 12677 NaN values.
Column 'VEHICLE TYPE CODE 2' has 376990 NaN values.
Column 'VEHICLE TYPE CODE 3' has 1880098 NaN values.
Column 'VEHICLE TYPE CODE 4' has 1987193 NaN values.
Column 'VEHICLE TYPE CODE 5' has 2009835 NaN values.

In [23]:
NaNValBorough = 628092
Total = 2018244

PercentNANVAL = NaNValBorough / Total

print(PercentNANVAL)

0.311207168211574

Q8. The fields 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' represent the first two vehicles involved in the accident. Which combination of vehicles have the most number of accidents?

In [24]:
combined_series = df['VEHICLE TYPE CODE 1'].astype(str) + ' & ' + df['VEHICLE TYPE CODE 2'].astype(str)

combination_counts = combined_series.value_counts()

max_occurrence = combination_counts.max()
most_common_combinations = combination_counts[combination_counts == max_occurrence]

print("Combination(s) of 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' with the highest occurrence:")
for combination, count in most_common_combinations.items():
    print(f"Combination: {combination}, Count: {count}")

Combination(s) of 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' with the highest occurrence:
Combination: Sedan & Sedan, Count: 197944